* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.75;
  margin: 0 auto;
  /* What We Do */
  /* Who We Are */
}
* body .header {
  min-height: 10vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-position: center;
}
* body .header__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
* body .header__navbar .fa-explosion {
  font-size: 55px;
  position: absolute;
  left: 151px;
  cursor: pointer;
  background-image: linear-gradient(100deg, #0a5aa5, #f39913);
}
* body .header__navbar h1 {
  color: #fff;
  font-size: 12px;
  position: absolute;
  left: 224px;
}
* body .header__navbar__nav-links li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
* body .header__navbar__nav-links li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.631372549);
  cursor: pointer;
  font-size: 14px;
}
* body .header__navbar__icons {
  display: flex;
  position: absolute;
  left: 1156px;
}
* body .header__navbar__icons .fa-user,
* body .header__navbar__icons .fa-globe,
* body .header__navbar__icons .fa-bars {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  display: flex;
  margin: 5px;
  height: 35px;
  width: 35px;
  border: 2px solid #574f4f;
  border-radius: 50px;
  cursor: pointer;
}
* body .container {
  max-width: 100%;
  margin: 0 auto;
}
* body .container__page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 4rem;
  padding-bottom: 3rem;
  background-color: black;
}
* body .container__page__left {
  position: relative;
  width: 600px;
  height: 604px;
  background-color: #000;
}
* body .container__page__left h1 {
  position: absolute;
  color: #fff;
  font-size: 70px;
  left: 140px;
  top: 70px;
  font-weight: 10;
}
* body .container__page__left h2 {
  position: absolute;
  color: #fff;
  font-size: 70px;
  left: 140px;
  top: 168px;
}
* body .container__page__left h3 {
  position: absolute;
  color: #02b5c6;
  font-size: 30px;
  left: 140px;
  top: 334px;
}
* body .container__page__left pre {
  position: absolute;
  color: #fff;
  font-size: 16px;
  left: 140px;
  top: 387px;
}
* body .container__page__left button {
  position: absolute;
  left: 140px;
  top: 495px;
  background-color: #f39913;
  width: 171px;
  height: 50px;
  color: #000;
  font-size: 17px;
  font-weight: bold;
  border-radius: 30px;
}
* body .container__page img {
  position: absolute;
  left: 686px;
  top: 112px;
  width: 570px;
  height: 604px;
  display: block;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
* body .curved {
  width: 1920px;
  height: 254px;
  background-color: #ebe9e9;
}
* body .curved .svg {
  display: block;
}
* body .section-top__WhatWeDo {
  margin-left: 40px;
  color: #02b5c6;
  font-size: 20px;
  margin-top: 120px;
}
* body .section-top__jobMakers {
  margin-left: 40px;
  color: #1d1d1b;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 72px;
}
* body .section-top__info {
  word-spacing: normal;
  margin-top: 20px;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #6e6e6d;
  font-style: normal;
  font-family: "Helvetica Neue", sans-seri;
  padding: 0 30px;
}
* body .products {
  margin: 30px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}
* body .products__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 270px;
  height: 276px;
  padding: 50px 0px;
  color: black;
  background-color: white;
  border: 2px solid #eeeeee;
  box-shadow: 4px -10px 54px #ebe9e9;
  border-radius: 3px;
  text-transform: capitalize;
}
* body .products__item__icon {
  display: flex;
  position: relative;
  top: -28px;
}
* body .products__item__icon i {
  text-align: center;
  align-items: center;
  justify-content: center;
  background: linear-gradient(226deg, #e2e6ff 0%, #ebe5f1 100%);
  display: flex;
  margin: 5px;
  height: 80px;
  width: 80px;
  border-radius: 50px;
  cursor: pointer;
  color: rgb(88, 100, 212);
  font-size: 2.9em;
}
* body .products__item h2 {
  font-size: 1.1em;
}
* body .products__item p {
  font-size: 0.9em;
  color: #686565;
}
* body .container1 {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 150px;
}
* body .container1__page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 4rem;
  padding-bottom: 3rem;
  background-color: white;
  /* left part */
}
* body .container1__page__left {
  padding-left: 60px;
}
* body .container1__page__left__whoWeAre {
  color: #02b5c6;
  font-size: 20px;
}
* body .container1__page__left h2 {
  color: #1d1d1b;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 72px;
}
* body .container1__page__left h3 {
  color: #6e6e6d;
}
* body .container1__page__left__btn1 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: #ddddd9;
}
* body .container1__page__left__btn1 .fa-arrow-left {
  font-size: 18px;
}
* body .container1__page__left__btn2 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: #f39913;
}
* body .container1__page__left__btn2 .fa-arrow-right {
  font-size: 18px;
}
* body .container1__page__right {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  position: absolute;
  left: 630px;
  grid-gap: 30px;
}
* body .container1__page__right__card {
  position: relative;
}
* body .container1__page__right__card__blur {
  position: absolute;
  background-color: #262727;
  top: 291px;
  left: 0px;
  width: 100%;
  height: 60px;
  display: inline-block;
  opacity: 0.5;
}
* body .container1__page__right__card__blur__name {
  position: absolute;
  top: -4px;
  left: 12px;
  color: rgb(255, 3, 3);
}
* body .container1__page__right__card__blur__position {
  position: absolute;
  top: 20px;
  left: 12px;
  color: rgb(255, 3, 3);
}
* body .container1__page__right__card img {
  width: 100%;
  height: 350px;
}

/*# sourceMappingURL=style.css.map */
